@each(result in result)
<p> Account :  {{ result.account }} &nbsp Address : {{ result.address }} &nbsp Amount : {{ result.amount }} &nbsp Category : {{ result.category }}</p>
<br>    
@endeach
<p>
    Welcome to AdonisJS, please confirm your email address by clicking the link below:
</p>

<p>
    <a href="{{ link }}">Confirm email address</a>
</p>