    <!DOCTYPE html>
    <html>
    <head>
            <title>OBC Chatting</title>
            {{ style('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') }}
    </head>
    <body>
    <div class="container">
            <div class="content">
                    <h1>Chat History</h1>
                    <ul id="messages" class="list-group">
                    </ul>
            </div>
    </div>
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js') }}
    <!-- Include the Pusher Client library -->
    {{ script('https://js.pusher.com/4.1/pusher.min.js') }}
    <script>
            //Open a connection to Pusher
            let pusher = new Pusher('dbe9a814b95c55c4c8e6', {
              cluster: 'ap1',
              encrypted: true
            });

            //Subscribe to the channel we specified in our Adonis Application
            let channel = pusher.subscribe('obc-channel')

            //Listen for events on the channel
            channel.bind('send-message', (data) => {
              let listItem = $("<li class='list-group-item'>" + data.message + "</li>")
              $('#messages').prepend(listItem)
            })
    </script>
    </body>
    </html>