<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{style('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')}}
</head>
<body>
    @if(flashMessage('notification'))  
        <div class="alert alert-{{flashMessage('notification.type')}}">
            {{flashMessage('notification.message')}}
        </div>
    @endif
      
    <form action="/register" method="POST">
        {{csrfField()}}
        <br>Username : <input type="text" name="username" value="{{old('username','')}}">
        <br>Password : <input type="password" name="password" value="{{old('password','')}}">
        <br><button type="submit" >Submit</button>
    </form>    
</body>
</html>