@layout('main')
    @section('content')
        <hr>
        <h1 style="color:goldenrod">Homepage</h1><a href="logout"><button style="top:40px;left:75%;position:fixed" class="btn btn-danger">Logout</button></a>
        <hr>
        <i><h6>Welcome to the party, <font color="blue">{{ auth.user.username }}</font></h6></i>
    @endsection